{% extends "templates/web.html" %}

{% block title %}{{ _("Collaboration Requests") }}{% endblock %}

{% block page_content %}

<section style="max-width: 80%; display: block; margin-left: auto; margin-right: auto">
    <h1>Collaboration requests</h1>

    {% for req in reqs %}
    <div class="request">
        Request made on {{req.creation.strftime("%d/%m/%Y")}}
        <a href="{{frappe.utils.get_url()}}/{{req.name}}">View more details</a>
    </div>
    {% endfor %}

</section>

{% endblock %}

{%- block script %}
    <!-- {{ super() }}
    {{ include_script('controls.bundle.js') }} -->
{% endblock %}
