{% extends "templates/web.html" %}

{% block page_content %}
<h1> Collab Details </h1>

<h4>Job Theme</h4>

<div>

    <h5>Social Worker: {{ sw }}</h5>
    <h5>Job Theme : {{theme}} </h5>
    <h5>Collaboration Help : {{collab}} </h5>
    <h5>Status: {{status}}</h5>
    <button><a href="{{frappe.utils.get_url()}}/request-work/{{name}}/edit">Update Request Status</a></button>
</div>


{% endblock %}

{%- block script %}
    {{ super() }}
    {{ include_script('controls.bundle.js') }}
{% endblock %}


<!-- this is a sample default web page template -->

